@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
  background-color: #ebebff;
  background-image: radial-gradient(#000000 0.9px, white 0.9px);
  background-size: 20px 20px;
}
